<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone1">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".HomeSession"
        android:allowBackup="true"
        android:icon="@drawable/logoicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone1">
        <activity
            android:name=".Guest_FAQ"
            android:exported="true"/>
        <activity
            android:name=".FAQTTS"
            android:exported="true" />
        <activity
            android:name=".TYPE_FAQ"
            android:exported="true" />
        <activity
            android:name=".OCR_FAQ"
            android:exported="true" />
        <activity
            android:name=".Faq"
            android:exported="true" />
        <activity
            android:name=".guestLogout"
            android:exported="true" />
        <activity
            android:name=".today_measurement_cardview"
            android:exported="true" />
        <activity
            android:name=".alarm_notification_measurements"
            android:exported="true" />
        <activity
            android:name=".pdf_hours_of_sleep"
            android:exported="true" />
        <activity
            android:name=".pdf_pulserate"
            android:exported="true" />
        <activity
            android:name=".pdf_bodyTemp"
            android:exported="true" />
        <activity
            android:name=".pdf_cholesterol"
            android:exported="true" />
        <activity
            android:name=".pdf_BloodSugar"
            android:exported="true" />
        <activity
            android:name=".health_measurement_pdf_choices"
            android:exported="true" />
        <activity
            android:name=".medication_edit_delete_card"
            android:exported="true" />
        <activity
            android:name=".cardview_today_measurement"
            android:exported="true" />
        <activity
            android:name=".cardview_edit_measurements"
            android:exported="true" />
        <activity
            android:name=".cardview_history_medication"
            android:exported="true" />
        <activity
            android:name=".cardview_history_measurements"
            android:exported="true" />
        <activity
            android:name=".recommendations"
            android:exported="true" />
        <activity
            android:name=".set_later_temperature"
            android:exported="true" />
        <activity
            android:name=".alarm_notification"
            android:exported="true" />
        <activity
            android:name=".set_later_pulse_rate"
            android:exported="true" />
        <activity
            android:name=".set_later_hours_of_sleep"
            android:exported="true" />
        <activity
            android:name=".set_later_cholesterol"
            android:exported="true" />
        <activity
            android:name=".set_later_blood_sugar"
            android:exported="true" />
        <activity
            android:name=".set_later_blood_pressure"
            android:exported="true" />
        <activity
            android:name=".set_now_temperature"
            android:exported="true" />
        <activity
            android:name=".set_now_pulse_rate"
            android:exported="true" />
        <activity
            android:name=".set_now_hours_of_sleep"
            android:exported="true" />
        <activity
            android:name=".schedule_measurements"
            android:exported="true" />
        <activity
            android:name=".setLaterHM"
            android:exported="true" />
        <activity
            android:name=".set_now_cholesterol"
            android:exported="true" />
        <activity
            android:name=".set_now_blood_sugar"
            android:exported="true" />
        <activity
            android:name=".set_now_blood_pressure"
            android:exported="true" />
        <activity
            android:name=".edit_delete_schedule_activity"
            android:exported="true" />
        <activity
            android:name=".change_password"
            android:exported="true" />
        <activity
            android:name=".change_name"
            android:exported="true" />
        <activity
            android:name=".edit_delete_temperature"
            android:exported="true" />
        <activity
            android:name=".edit_delete_pulserate"
            android:exported="true" />
        <activity
            android:name=".edit_delete_hours_of_sleep"
            android:exported="true" />
        <activity
            android:name=".edit_delete_cholesterol"
            android:exported="true" />
        <activity
            android:name=".edit_delete_bloodsugar"
            android:exported="true" />
        <activity
            android:name=".intake_confirmation"
            android:exported="true" />
        <activity
            android:name=".history_for_measurements"
            android:exported="true" />
        <activity
            android:name=".edit_delete_bloodpressure"
            android:exported="true" />
        <activity
            android:name=".edit_delete_medications"
            android:exported="true" />
        <activity
            android:name=".today_page_recycler"
            android:exported="true" />
        <activity
            android:name=".today"
            android:exported="true" />
        <activity
            android:name=".optical_character_recognition"
            android:exported="true" />
        <activity
            android:name=".optical_character_recognition_one"
            android:exported="true" />
        <activity
            android:name=".new_measurements_bloodpressure"
            android:exported="true" />
        <activity
            android:name=".new_measurements_pulserate"
            android:exported="true" />
        <activity
            android:name=".new_measurements_hours_of_sleep"
            android:exported="true" />
        <activity
            android:name=".new_measurements_heartrate"
            android:exported="true" />
        <activity
            android:name=".new_measurements_temperature"
            android:exported="true" />
        <activity
            android:name=".new_measurements_bloodsugar"
            android:exported="true" />
        <activity
            android:name=".new_measurements_cholesterol"
            android:exported="true" />
        <activity
            android:name=".instruction_slidethree"
            android:exported="true" />
        <activity
            android:name=".instruction_slidetwo"
            android:exported="true" />
        <activity
            android:name=".instruction_slideone"
            android:exported="true" />
        <activity
            android:name=".history_page"
            android:exported="true" />
        <activity
            android:name=".health_measurements"
            android:exported="true" />
        <activity
            android:name=".new_medications"
            android:exported="true" />
        <activity
            android:name=".user_information"
            android:exported="true" />
        <activity
            android:name=".recover"
            android:exported="true" />
        <activity
            android:name=".forgot_password"
            android:exported="true" />
        <activity
            android:name=".create_account"
            android:exported="true" />
        <activity
            android:name=".pdf_form"
            android:exported="true" />
        <activity
            android:name=".login_page"
            android:exported="true" />
        <activity
            android:name=".home_page"
            android:exported="true" />
        <activity
            android:name=".ui.login.login_page"
            android:exported="true"
            android:label="@string/title_activity_login_page" />
        <activity
            android:name=".landing_page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".alarmreceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".alarmreceivermeasurement"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".main_page"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </application>

</manifest>